.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* overlay built-in */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialog {
    border: 1px solid #ccc;
    padding: 20px;
    // width: 300px;
    background: #f9f9f9;
    position: absolute;
    top: 50%vh;
    left: 50%vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    .row {
      button {
        font-size: 20px;
        background: none;
        border: hidden;
      }
      .close-btn {
        display: flex;
        justify-content: flex-end;
      }
      button:hover {
        background-color: rgb(220, 213, 213);
        border: 1px solid rgb(73, 73, 73);
      }
    }
    .main-content {
      table {
        tbody {
          td {
            padding: 20px;
            font-size: 20px;
            strong {
              font-size: large;
              font-weight: normal;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
