<div class="dialog-overlay">
  <div class="dialog">
    <div class="row">
      <div class="col-8 text-end">
        <h2>Student Details</h2>
      </div>
      <div class="col-4 text-end">
        <button class="colse-btn" (click)="closeDialog()">&#x2715;</button>
      </div>
    </div>
    <div class="main-content">
      <table
        class="table table-striped table-hover table-bordered border-secondary"
      >
        <tbody>
          <tr>
            <td><strong>Student ID:</strong> {{ studentData.id }}</td>

            <td colspan="2">
              <strong> Name:</strong> {{ studentData.info.name }}
            </td>
          </tr>
          <tr>
            <td><strong>CLASS:</strong> {{ studentData.info.class }}</td>
            <td colspan="2">
              <strong>Result:</strong> {{ studentData.info.result | uppercase }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>Gender:</strong> {{ studentData.info.gender | titlecase }}
            </td>
            <td colspan="2">
              <strong>Age:</strong> {{ studentData.info.age }}
            </td>
          </tr>
          <tr>
            <td><strong>Maths:</strong> {{ studentData.info.marks.maths }}</td>
            <td>
              <strong>Physics:</strong> {{ studentData.info.marks.physics }}
            </td>
            <td>
              <strong>Englisg:</strong> {{ studentData.info.marks.english }}
            </td>
          </tr>
          <tr>
            <td><strong>Email:</strong> {{ studentData.info.email }}</td>
            <td colspan="2">
              <strong>Password:</strong> {{ studentData.password }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
